<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml
   version="2.5"> 
	<servlet-name>HarvestNewTitles</servlet-name>
	<servlet-class>HarvestNewTitles</servlet-class>
</web-app>
